/*custom css*/
.uk-container { max-width: 90%;}
.customer-container{width: 70%}
.logo img{float: left; height: 60px; margin: 5px;}
.main-nav>.main-menu>li>a{padding: 26px 15px; font-weight: bold;}
.uk-navbar-nav{float: right;}
.home-title{text-align: center; margin-bottom: 50px;padding-top: 50px;position: relative;}
.home-title .separator_wrapper{
	font-size: 1.8rem;
    border: 1px solid #333;
    padding: 20px;width: 50%;
    margin: 0 auto;background: #fff;
    position: inherit;z-index: 1;
}
.about-content{text-align: justify; font-size: 1.3rem; line-height: 1.5;} 
.about-img img{height: 300px; width: 100%; object-fit: cover;} 
.commitment-section {
    margin: 0 0 90px 0;
}
.div-room{
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.div-room:hover{
	-webkit-transform: scale(1.1); transform: scale(1.1);
}
.section1{padding-bottom: 60px; padding-top: 30px}
.section2{padding-bottom: 60px; padding-top: 30px}
.section3{padding-bottom: 60px; padding-top: 30px}
.section4{padding-bottom: 60px; padding-top: 30px}
.section5{padding-bottom: 60px; padding-top: 30px}

.mb-30{margin-bottom: 30px}
.bgf1f1f1{background-color: #f1f1f1;}
.iteam-why{
  padding: 20px; background-color: #fff;
}
.iteam-why p{
  text-align: justify;font-size: 1.3rem;
}
.iteam-why h4{
  text-align: center;font-size: 1.5rem;
}
.iteam-why img{
  display: flex; align-items: center;margin: 0 auto;width: 30px;margin-bottom: 15px;
}

.section5{padding-top: 60px;background-color: rgba(40,39,61,1); background-image: url(../data/home-customer-bg.jpg);}
.home-contact{ text-align: center; }
.home-contact h3{ text-align: center; font-size: 2rem;color: #fff }
.home-contact .note{ text-align: center; font-size: 1.2rem; color: #fff; margin-bottom: 20px}
.home-contact input{ width: 50%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; }
.home-contact input[type='submit']{}
.product .thumb{border: 2px #fff solid; box-shadow: 0 10px 15px 0;}
.product .infor{padding-top: 20px; text-align: center;}
.product .infor a {
    color: #905919;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.product{ margin-bottom: 20px !important }
.product .img-cover img{height: 185px; width: 100%; object-fit: cover;}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;display: flex;
    justify-content: center;padding: 10px; 
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 16px; border-radius: 5px; margin: 0px 10px;
  transition: 0.3s;
  font-size: 17px;border: 1px solid #999;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.breadcrumb {
    margin: 0;
    margin-top: 20px;
}
.line{
	position: absolute;
    width: 80%;
    height: 1px;
    background: #000;
    top: 80%;
    left: 10%;
}